/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import '../../public/adminlte/dist/css/adminlte.css';
@import '../../public/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.css';
@import url('../../public/assets/fonts/sn-pro/stylesheet.css');

.login-page, .register-page {
    background: none;
}

.bgBody {
    background: #E8ECED url('../../public/assets/images/paper-texture-background.png') no-repeat center / cover;
}

.card {
    background: #fff url('../../public/assets/images/wall-background.png');
    box-shadow: 0 4px 5px rgb(0 0 0 / 25%);
    border-radius: 8px;
}

.btn-dark {
    background: #3D3D3D;
}

.snRegular {
    font-family: 'sn-regular', sans-serif;
}

.btn-lista-cadastrarEditar {
    border-radius: 20px;
    padding: 8px 19px;
    cursor: pointer;
}

.btn-lista-excluir {
    background: #F44336;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding: 8px;
}
.btn-adicionar-lista {
    color: #fff;
    background-color: #26592D;
    border-radius: 5px;
    padding: 7px;
}

.btn-adicionar-lista:hover {
    color: #fff;
}

.btn-info:hover {
    color: #fff;
    background-color: #3D3D3D;
}

.boxList {
    background: #CA9C47;
    cursor: pointer;
    padding: 6px 17px;
    border-radius: 5px;
    display: inline-block;
    width: 84%;
    color: #fff;
}

.iconList {
    color: #fff;
    float: right;
    cursor: pointer;
    padding: 9px;
    border-radius: 5px;
    background: #3d3d3d;
}

.badge-preto {
    color: #fff;
    background-color: #CA9C47;
}

.badge-verde {
    color: #fff;
    background-color: #57902E;
}

.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + label::before, .icheck-primary > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: #162c3f;
}

.icheck-primary > input:first-child:checked + label::before, .icheck-primary > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: #162c3f;
    border-color: #162c3f;
}

[class*="icheck-"] > input:first-child + label::before, [class*="icheck-"] > input:first-child + input[type="hidden"] + label::before {

    border: 1px solid #675028;
}
